// colors
$color-primary: #286EFA;
$color-dark: #333333;
$color-primary-text: #427FFA;
$color-light-gray: #F9F9F9;
$color-light-gray-1: #b3b2b2;
$color-light-gray-2: #EDEDED;
$color-white: #FFFFFF;
$color-gray-dark-1: #999;
$color-red-1: rgba(255, 0, 0, 0.565);